@import url("https://rsms.me/inter/inter.css");
@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 245 245;
    --card: 254 254 254;
    --primary: 1 1 1;
    --secondary: 115 115 115;
    --accent: 1 122 228;
    --accent-foreground: 199 229 255;
    --warning: 228 149 1;
    --warning-foreground: 255 235 199;
    --danger: 228 1 1;
    --danger-foreground: 255 199 199;
    --border: 227 227 227;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 20 20;
    --card: 46 46 46;
    --primary: 255 255 255;
    --secondary: 138 138 138;
    --accent: 22 145 254;
    --accent-foreground: 1 73 137;
    --warning: 254 173 22;
    --warning-foreground: 137 89 1;
    --danger: 254 22 22;
    --danger-foreground: 137 1 1;
    --border: 115 115 115;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  body > #content {
    @apply h-screen w-full;
  }
  html,
  body {
    @apply bg-transparent !important;
  }
  body {
    @apply text-primary font-sans antialiased;
  }
}

.icon {
      @apply text-center;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: normal;
}